<!-- <input type="button" class="btn btn-default" (click)="getNews()"  value="Get News"/> -->
<!-- <input type="button" class="btn btn-default" (click)="getNewsRefresh()"  value="Get News Refresh"/> -->
<!-- <div class="col-md-10">
  <pre>
    {{ newsArray| json }}
  </pre>
</div> -->
<div class="container" style="margin-top:20px;text-align:center">

  <div class="row">
    <input type="button" class="btn btn-default" (click)="getNewsOnClick('INDIA')" value="INDIA NEWS"/>
    <input type="button" class="btn btn-default" (click)="getNewsOnClick('SPORTS')" value="SPORTS NEWS" />
  </div>

  <h3>{{selectedURL}}</h3>
  <div class="col-md-10">
    <h3>{{title}}</h3>
    <div class="col-sm-offset-1 col-sm-10">
      <li *ngFor="let news of newsArray; let i=index" style="list-style-type:none">
        <pre>
          <!-- {{news | json}} -->
          {{i+1}} - {{news.title}}
        </pre>
      </li>
    </div>
  </div>
</div>
